@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
    height: 100%;
    background-color: rgb(234, 234, 234);
}

nav.navbar-swstarter {
    background-color: #ffffff !important;
}

nav.navbar-swstarter div.container-fluid {
    flex-basis: content;
}

nav.navbar-swstarter div.container-fluid span.navbar-brand {
    color: rgb(0, 169, 94) !important;
}

button {
    border-radius: 50px !important;
}

.btn-swstarter {
    border-radius: 50px !important;
    background-color: rgb(0, 169, 94) !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.btn-swstarter:hover {
    border-radius: 50px !important;
    background-color: rgba(0, 169, 94, 0.8) !important;
}

.color-gray {
    color: #a5a5a5;
}

.text-bold {
    font-weight: bold;
}

.search-container {
    padding-top: 10px;
    height: 100vh;
}

.search-container .align-items-start {
    height: 100%;
}

.search-container .search-results .card-body {
    height: 60vh;
}

.search-container .search-results .card-body .card-body-align-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.search-container .search-results .search-results-title,
.search-container .search-results .search-results-item-title {
    font-weight: bold;
    text-align: left;
    display: block;
}

.search-container .search-results .search-results-title {
    font-size: 14pt;
    border-bottom: 1px solid #718096;
}

.search-container .search-results .search-results-title h2 {
    font-size: 14pt;
}

.search-container .search-results .search-results-item-title {
    font-size: 12pt;
}

.search-container .search-results .search-results-item {
    height: 60px;
    border-bottom: 1px solid #718096;
}


.search-results-details-title h2 {
    font-weight: bold;
    text-align: left;
    font-size: 16pt;
    margin-bottom: 20px;
}

.search-results-details {
    text-align: left;
}

.search-results-details h2 {
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px solid #c8c8c8;
}

.search-results-details-body {
    display: flex;
    flex-direction: column;
}

.search-results-details-body-last-row {
    margin-top: auto;
    text-align: left;
}


.search-results-details ul {
    padding-left: 0 !important;
}

.person-details-films {
    text-align: left;
}
